<h2>Edicion de usuario</h2>

<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Nombres:</mat-label>
    <input matInput placeholder="Digite los nombres" formControlName="nombres" required />
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Apellidos:</mat-label>
    <input matInput placeholder="Digite los apellidos" formControlName="apellidos" required />
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Cedula:</mat-label>
    <input matInput placeholder="Digite la cedula" formControlName="cedula" required />
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Correo:</mat-label>
    <input matInput placeholder="Digite el correo" formControlName="correo" required />
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Telefono:</mat-label>
    <input matInput placeholder="Digite los telefono" formControlName="telefono" required />
  </mat-form-field>

  <br /><br />
  <button *ngIf="form.valid" mat-button (click)="editarAction()">Editar Usuario</button>
  <label *ngIf="!form.valid">Diligencie los campos* obligatorios para editar</label>
</form>